/*	HELPERS 
//////////////////////////////////////////////////////////////////////////////*/

/* Debug Classes */

.icon-grid {
    position: fixed;
    z-index: 99999;
    bottom: $spacing-s;
    left: $spacing-s;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    display: none;
    background-image: url("../images/icons/icon--grid.svg");
    background-size: 1rem 1rem;
    @media (min-width: 1120px) {
        display: block;
    }
}

.overlay {
    opacity: 0;
}

.has-debug_overlay .overlay {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.5s;
    pointer-events: none;
    opacity: 1;
    margin: 0 auto;
    @media (min-width: 1120px) {
        background: url("../assets/grid-1240px.svg") repeat-y;
        max-width: $page-width;
        background-size: 100%;
    }
}

// outline elements with class-names starting with "site-"

.icon-sections {
    position: fixed;
    z-index: 99999;
    bottom: $spacing-s;
    right: $spacing-s;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    display: none;
    background-image: url("../images/icons/icon--sections.svg");
    background-size: 1rem 1rem;
    @media (min-width: 1120px) {
        display: block;
    }
}

.has-sections_overlay {
    .module {
        position: relative;
        outline: 1px solid;
        &:after {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            scontent: attr(class);
            font-family: $font-stack-code;
            font-size: $font-size-m;
            font-weight: $font-weight-500;
        }
    }
}

.invisible {
    @include visuallyhidden;
}
